In [1]:
import pandas as pd

In [2]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\15102\appdata\local\programs\python\python310\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\15102\appdata\local\programs\python\python310\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: C:\Users\15102\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip

In [3]:
# Read the data into Pandas DataFrames
crowdfunding_data = pd.ExcelFile("crowdfunding.xlsx")
# Get the sheet names
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [4]:
# Get the crowdfunding_info from the crowdfunding_info worksheet
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [5]:
# Get the contact_info from the contact_info worksheet
# Increase the width of the column
pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=2)
contact_info_df.tail()

996                    {"contact_id": 3684, "name": "Whitney Noack", "email": "whitney.noack@laboratorios.org"}
997              {"contact_id": 5784, "name": "Gelsomina Migliaccio", "email": "gelsomina.migliaccio@junk.com"}
998   {"contact_id": 1498, "name": "Evangelista Pereira", "email": "evangelista.pereira@thompson-peterson.biz"}
999                        {"contact_id": 6073, "name": "Gareth Comolli", "email": "gareth.comolli@tiscali.fr"}
1000                {"contact_id": 4939, "name": "Michelangelo Hess", "email": "michelangelo.hess@bouygtel.fr"}

In [6]:
contact_info_df.sample(n=5)

188                        {"contact_id": 3482, "name": "Nino Bien", "email": "nino.bien@gmail.com"}
653              {"contact_id": 3530, "name": "Beatriz Moulin", "email": "beatriz.moulin@pinto.com"}
721  {"contact_id": 6191, "name": "Slobodan Camiscione", "email": "slobodan.camiscione@hotmail.com"}
198        {"contact_id": 1822, "name": "Michele Brambilla", "email": "michele.brambilla@yahoo.com"}
465             {"contact_id": 6205, "name": "Patrizia Wilms", "email": "patrizia.wilms@dbmail.com"}

In [7]:
crowdfunding_info_df.sample(n=5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
498,2185,"Smith, Brown and Davis",Devolved background project,193400,46317,failed,579,DK,DKK,1640584800,1642140000,False,False,technology/web
309,2545,Harris-Perry,User-centric 6thgeneration attitude,4100,3087,canceled,75,US,USD,1614924000,1627275600,False,True,music/indie rock
865,3118,"Ellis, Smith and Armstrong",Horizontal attitude-oriented help-desk,81000,150515,successful,3272,US,USD,1625115600,1634792400,False,False,theater/plays
281,962,Drake PLC,Profound object-oriented paradigm,164500,150552,failed,2062,US,USD,1582610400,1617685200,False,True,theater/plays
104,2912,"Smith, Wells and Nguyen",Self-enabling grid-enabled initiative,119200,170623,successful,1917,US,USD,1625806800,1634274000,False,False,music/indie rock

In [8]:
# get a brief summary of the crowdfunding_info dataframe
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [9]:
# Get a brief summary of the contact_info dataFrame
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           1001 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [10]:
# Get the unique values in the categories & sub-category column
crowdfunding_info_df["category & sub-category"].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [11]:
# assign the category and subcategory values to category and subcategory calumns
crowdfunding_info_df[["category", "subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split('/', n=1, expand=True)
crowdfunding_info_df.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [12]:
# Get the distinct values in the category and subcategory columns
print(crowdfunding_info_df["category"].nunique())
print(crowdfunding_info_df["subcategory"].nunique())

9
24

In [13]:
# Get the unique categories and subcategories in separate lists
categories = crowdfunding_info_df["category"].unique()
subcategories = crowdfunding_info_df["subcategory"].unique()
print(categories)
print()
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [30]:
# Import the Numpy dependency
import numpy as np
# Create numpy arrays that have 1-10 for the category_ids and 1-25 for the subcategory_ids
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)
category_ids
subcategory_ids

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])

In [29]:
# Use a list comprehension to add "cat0" to each category_id
cat_ids = ["cat0" + str(cat_id) for cat_id in category_ids]

# Use a list comprehension to add "scat0" to each subcategory_id
scat_ids = ["scat0" + str(scat_id) for scat_id in subcategory_ids]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [37]:
# Create a category Dataframe with the cat_ids array as the category_id and categories list as the category name
category_df = pd.DataFrame({"category_id": cat_ids,
                           "category" : categories})
print(category_df)

# Create a subcategory DataFrame with the scat_ids array as the subcategory_id and subcategories list as the subcategory name.
subcategory_df = pd.DataFrame({"subcategory_id": scat_ids,
                              "subcategory" : subcategories})
print(subcategory_df)

  category_id      category
0       cat01          food
1       cat02         music
2       cat03    technology
3       cat04       theater
4       cat05  film & video
5       cat06    publishing
6       cat07         games
7       cat08   photography
8       cat09    journalism
   subcategory_id        subcategory
0          scat01        food trucks
1          scat02               rock
2          scat03                web
3          scat04              plays
4          scat05        documentary
5          scat06     electric music
6          scat07              drama
7          scat08         indie rock
8          scat09          wearables
9         scat010         nonfiction
10        scat011          animation
11        scat012        video games
12        scat013             shorts
13        scat014            fiction
14        scat015  photography books
15        scat016   radio & podcasts
16        scat017              metal
17        scat018               jazz
18        scat019       translations
19        scat020         television
20        scat021       mobile games
21        scat022        world music
22        scat023    science fiction
23        scat024              audio

In [38]:
category_df.to_csv("category.csv", index=False)

In [39]:
subcategory_df.to_csv("subcategory.csv", index=False)